#aaww_posts label.error{
	color: red;
	
}

#aaww_posts select[disabled], #aaww_posts input[disabled]{
	color: #ccc;
}

#aaww_posts label.progress {
	background: url('/wp-admin/images/wpspin_light.gif') no-repeat right center;
	padding-right: 18px;
	
}
